
<!DOCTYPE html>
<html>
  <head>
    <title>Meme About How Rude You Are!</title>
    <link rel="stylesheet" type="text/css" href="/static/design.css" />
  </head>
  <body>
    <header class="background">
      <div class="main">
        <div class="title">
          <h1>Meme About How Rude You Are!</h1>
        </div>
      </div>
      <div class="button">
        <form class="form-main" action="/", method="post" enctype="multipart/form-data">
          <input type="file" id="file" accept="image/*" class="formcon" name="imagefile">
          <input type="submit" class="formcon1" name="imagefile" value="sentiment batao yaaar">
          <label for="file"> 
            Upload
          </label>
        </form>
        
      </div>
    </header>
  </body>
</html>